:root{
  --danger:#DF2935;
  --main-font-color:#F5F3BB;
}

body {
  text-align: center;
  background-color: #011F3F;
}
h1{
  margin: 0px 0px 10px 0px;
}
a{
  text-decoration: underline;
}
.main{
  margin-bottom: 1rem;
}
.mid-area{
  margin-top: 3.5rem;
}
.foot-area{
  margin-top:0.5rem;
}
#mute-button{
  width: 1.5rem;
  height: 1.5rem
}
#game-name{
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  color:var(--main-font-color);
}
#game-desc{
  font-family: 'Press Start 2P', cursive;
  font-size: 0.8rem;
  color:var(--main-font-color);
}

#highscore{
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  color:white;
}
#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  margin:1%;
  color: white;
}

.container {
  display: block;
  width: 50%;
  margin: 0rem auto;

}


.btn {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 4px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: var(--danger);
  opacity: 0.8;
}

.red {
  background-color: var(--danger);
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
@media (-webkit-device-pixel-ratio: 1.25){
  :root{
      zoom:1.1;
  }
}
@media (-webkit-device-pixel-ratio: 1.5){
  :root{
      zoom:0.88;
  }
}

@media (width < 1110px)
{
  .btn{
    width: 150px;
    height: 150px;
  }
  .container{
    margin-top: 150px;
  }
  #level-title{
    margin-top: 20px;
  }
}